body {
	background-color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

header {
	display: flex;
	background-color: #838383;
	height: 100px;
	margin: -10px;
}

aside {
	display: flex;
	width: 20%;
	margin-top: 50px;
	background-color: yellow;
}



#note-taker {
	width: 20px;
	height: 10px;
	background-color: #A9E1B7; /*green*/
	color: white;
}

#quiz-taker {
	width: 20px;
	height: 10px;
	background-color: #A9E1B7; /*green*/
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 500px;
	margin-top: 2%;

}

.body-div {
	background-color: #EDEDED;
	justify-content: space-between;
	margin-left: 5px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 30%;
	width: 60%;
}


.note-items:hover {
	background-color: #A9E1B7; /*green*/
	color: white;
}

#app_name p {
	font-family: 'Gloria Hallelujah', cursive;
}

#subject_title {
	font-family: 'Oswald', sans-serif;
}

.subject_items {
	font-family: 'Oswald', sans-serif;
}

.body-div p {
	font-family: 'Oswald', sans-serif;
}

#note-title {
	font-family: 'Oswald', sans-serif;
}
