body {
	display: flex;
	flex-wrap: wrap;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center; 
	flex: 1 1 100%;
	background-color: #838383;
	height: 100px;
	margin: -10px;
}

.note_taker {
	flex: 2 0 0px;
	color: white;
	text-decoration-line: none;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-variant: small-caps;
	font-size: 18px;
	padding: 10px;
	word-wrap: none;
}

.test_taker {
	flex: 2 0 0px;
	color: white;
	text-decoration-line: none;
	background-color: #A9E1B7;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-variant: small-caps;
	font-size: 18px;
	padding: 10px;
	word-wrap: none;	
}

.note_taker:hover {
	background-color: #A9E1B7;
}

#app_name {
	flex: 0 1 auto;
	height: inherit;
	width: 80%;
	background-color: #838383;
	color: #A9E1B7;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 30px;
}

aside {
	display: flex;
	flex: 0.25 1 0px;
	flex-direction: column;
	padding: 50px 50px 27.5em 50px;
	border-right: solid 1px #838383;
}

.container {
	display: flex;
	flex: 2 2 0px;
	flex-direction: column;
	align-items: flex-end;
	width: 80%;
	height: 32.250em;
	padding-top: 50px;
}

#note_title {
	font-family: 'Oswald', sans-serif;
	flex: 0 1 auto;
	flex-direction: row;
	justify-content: flex-start;
	padding-bottom: 15px;
	height: 5%;
	width: 85%;
	border-bottom: solid 1px #838383; 
}

.body-div {
	display: flex;
	flex: 0.95 0 35%;
	flex-direction: column;
	align-items: space-between;
	margin: 5px 20px 5px 5px;
	background-color: #EDEDED;
	width: 95%;
	margin-top: 2%;
	font-family: 'Oswald', sans-serif;
	text-align: left;
}

.body-div form {
	padding: 50px;
}

.questions {
	flex: 1 1 auto;
	font-family: 'Oswald', sans-serif;
	color: #838383;
	padding-top: 40px;
	text-align: center;
}

.options {
	flex: 1 1 0px;
	width: 150px;
	height: 30px;
	margin: 3px;
	background-color: #838383;
	padding-left: 20px;
	padding-top: 	5px;
	color: 	white;
}

.note-items:hover {
	background-color: #A9E1B7; /*green*/
	color: white;
}

#subject_title {
	flex: 0 1 auto;
	font-family: 'Oswald', sans-serif;
	text-overflow: wrap;
	text-align: center;
	font-size: 18px;
	color: #838383;
	border-bottom: solid 1px #838383;
	height: 15%;
	padding-bottom: 20px;
}

.subject_items, .test_items {
	font-family: 'Arial', sans-serif;
	flex: 0 1 auto;
	text-overflow: wrap;
	height: 10%;
	text-align: left;	
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.body-div p {
	font-family: 'Oswald', sans-serif;
}

.submit {
	flex: 0.5 1 auto;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-variant: small-caps;
	font-size: 18px;
	background-color: #838383;
	border-style: none;
}

form {
	display: flex;
	flex: 10 0 0px;
	margin-top: -30px;
}

.submit:hover {
	background-color: #A9E1B7;
}

.answer {
	flex: 2 1 auto;
}

.subject_items:hover {
	background-color: #A9E1B7;
	color: white;
}

.test_items:hover {
	background-color: #A9E1B7;
	color: white;	
}

#make_quiz {
	background-color: #838383;
	height: 30px;
	width: 170px;
	font-family: 'Arial', sans-serif;
	border-style: none;
}

.note_taker {
	flex: 2 0 0px;
	color: white;
	text-decoration-line: none;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-variant: small-caps;
	font-size: 18px;
	padding: 10px;
	word-wrap: none;
}

.note_taker:hover {
	background-color: #A9E1B7;
}

.test_taker {
	flex: 2 0 0px;
	color: white;
	text-decoration-line: none;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-variant: small-caps;
	font-size: 18px;
	padding: 10px;
	word-wrap: none;	
}

#review {
	flex: 0 0 auto;
	background-color: #A9E1B7;
	color: white;
	text-align: center;
	padding: 10px 38px 35px 38px;
	font-variant-caps: small-caps;
	text-decoration-line: none;
	margin-top: -7px;
}

.test_title {
	display: flex;
	flex: 0 1 auto;
	justify-content: space-between; 
	width: 95%;
	text-align: left;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #838383;
	border-bottom: solid 1px #838383;
	padding-bottom: 47px;
}

.correct {
	flex: 0 1 auto;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #838383;
	padding: 10px;
	margin-bottom: -15px;
}

#score {
	color: #A9E1B7;
}