body {
	background-color: white;
}

header {
	background-color: #838383;
	height: 100px;
}

#note-taker {
	width: 20px;
	height: 10px;
	background-color: #A9E1B7;
	color: white;
}

#quiz-taker {
	width: 20px;
	height: 10px;
	background-color: #A9E1B7;
	color: white;
}

.container {
	display: flex;
		flex-direction: column; 
	height: 500px;
	width: 500px;
}

.body-div {
	background-color: #EDEDED;
	justify-content: space-between;
	align-items: flex-end;
	margin: 5px;
	height: 100px;
	width: 100px;
}

